[submodule "cgc/cb-multios"]
	path = cgc/cb-multios
	url = git@github.com:trailofbits/cb-multios.git
[submodule "genprog-code-func-repair"]
	path = genprog-code-func-repair
	url = git@github.com:pdreiter/genprog-code-prd.git
	branch = function-based-repair
[submodule "genprog_recompilation"]
	path = partial_decompilation
	url = git@github.com:capysix/genprog_recompilation.git
