### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
R_PACKAGES
*.vscode*

*__pycache__*

ida
ghidra*
*.bin
*.i
*.s
*.o
*.cache
libhook.so
*.so
*.a

*.debug.*

testruns.txt

Minimization_Files/

cgc/
constraints.txt
funcinsert.debug.log
genprog-code-func-repair/
prd-env/
static_libs/
stdlib-src/
stdlibc-src/
dietlibc/

